# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

bin

terraform/.terraform
terraform/terraform.tfstate
terraform/ssh-config.tpl
terraform/userdata.tpl

ansible/docker.yml
ansible/inventory.ini
ansible/jenkins.yml
ansible/kubernetes.yml
